<form asp-actinon="" method="Post">
<label> Nhập h:</label>
<input type="text" name="stuent">
<label> stt :</label>
<input type="text" name=" stt ">
<button type="sudmit" value="gửi dữ liệu">gủi </button>