@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}
<form asp-actinon="Index" method="Post">
<label> Nhập họ tên:</label>
<input type="text" name="fullname">
<label> nhập địa chỉ:</label>
<input type="text" name="Address">
<button type="sudmit" value="gửi dữ liệu">gủi </button>


</form>

<h1>@ViewBag.Message<h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>