
@{
    ViewData["Title"] = " tinhtuoi ";
}
<form asp-actinon="" method="Post">
<label> Nhập họ tên:</label>
<input type="text" name="fullname">
<label> nhap do tuoi :</label>
<input type="text" name=" do tuoi ">
<button type="sudmit" value="gửi dữ liệu">gủi </button>





<h1>@ViewBag.Message<h1>